.section-box {
    background-color: white;
    width: 100%;
    height: auto;
    border: 1px solid rgba(34, 32, 32, 0.253);
    border-radius: 10px;
    padding: 10px;
    direction: ltr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}


/* ===== Search Box ===== Start*/

.dropbtn {
    background-color: #337ab7;
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    direction: rtl;
    display: block;
    width: 100%;
}

.dropbtn:hover, .dropbtn:focus {
    /* background-color: #3e8e41; */
    background-color: #337ab7;
    background-color: white;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    /* background-position: 14px 12px; */
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput {
    width: 100%;
}

#myInput:focus {
    outline: 3px solid #ddd;
    width: 100%;
}

.dropdown {
    /*direction: rtl;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin: 8% 0 8% 0;*/
    width: 100%;

}


.dropdown-content {
    display: none;
    position: absolute;

    /* position: relative; */
    /* margin-left: -80px; */

    margin-left: auto;
    background-color: #f6f6f6;

    /* min-width: 230px; */
    /* min-width: auto; */

    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;

    width: max-content;

}

.dropdown a:hover {
    background-color: darkgreen;
}

.show {
    display: block;
    height: 200px;
    overflow-y: scroll;
}

#search-btn{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*position: relative;*/
    width: 100%;
}
#search-btn .dropdown{
    position: initial;
}
#myDropdown{
    right: 15px;
    left: 15px;
    /*margin-top: 12px;*/
}
div#myDropdown a:not(:last-child) {
    border-bottom: 1px solid #d4d4d4;
}
div#myDropdown a {
    color: black !important;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

/* ===== Search Box ===== End*/