{% extends 'base/layout.html' %}

{% block page-title %}{% endblock %}

{% block header-link %}{% endblock %}

{% block mian %}

    <br/>

    <div class="row text-center">

        <div class="col-md-3"></div>

        <div class="col-md-6">
            <h1>ورود</h1>

            <br/>

            <form style="direction: ltr" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <br/>

                {{ login_form.username }}

                <br/>

                {{ login_form.password }}

                <br/>
                <br/>

                <button class="btn btn-success" type="submit">ورود</button>

            </form>

        </div>

        <div class="col-md-3"></div>

    </div>

{% endblock %}
