{% extends 'base/layout.html' %}
{% load static %}

{% block page-title %}ثبت سفارش{% endblock %}

{% block header-link %}
    <link rel="stylesheet" href="{% static 'css/Order/add-order-style.css' %}"/>
    <script src="{% static 'js/Order/add-order-script.js' %}"></script>
{% endblock %}

{% block mian %}

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div id="form">
                <form action="" method="post">
                    {% csrf_token %}

                    <br/>

                    <div class="row text-center">
                        <div class="col-10">
                            {{ register_form.store_name }}
                            <input type="text" placeholder="نام فروشگاه" class="form-control" readonly
                                   id="fake_store_id_input" required>
                        </div>
                        <div class="col-2">
                            <button type="button" onclick="remove_from_input()" id="remove-btn">
                                <img id="remove-icon" class="icon" src="{% static 'icons/icons8-delete-48.png' %}">
                            </button>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-12">

                            <button type="button" onclick="show_stores()" class="btn btn-primary" id="search-btn">جستجو
                                نام فروشگاه
                            </button>

                            <div id="myDropdown" class="dropdown-content" style="display: none">
                                <input type="text" placeholder="جستجو نام فروشگاه" id="myInput"
                                       onkeyup="filterFunction()">

                                {% for store in stores %}
                                    <a onclick='add_to_input("{{ store.store_name }}", "{{ store.id }}")'
                                       style="color:red;"
                                       {% if not store.is_active %}class="bg-danger"{% endif %}>{{ store.store_name }}</a>
                                {% endfor %}

                            </div>

                        </div>
                    </div>

                    <hr/>

                    <div class="row text-center">
                        <div class="col-10" id="order_number_inner_row">
                            <div class="row">
                                <div class="col-6">
                                    {{ register_form.order_number }}
                                </div>

                                <div class="col-6">
                                    {{ register_form.document_defects }}
                                </div>
                            </div>
                        </div>

                        <div class="col-2 align-self-end">
                            <a class="add-new-row">
                                <img src="{% static 'icons/plus.png' %}" style="width: 35px;">
                            </a>
                        </div>
                    </div>


                    <br/>

                    <br/>

                    <hr/>

                    <div class="row">
                        <div class="col-4 text-right">
                            <h5>روش دریافت:</h5>
                        </div>
                        <div class="col-8 text-right">
                            <div class="row">
                                <div class="col-6">
                                    {{ register_form.shipping_method }}
                                </div>
                                <div class="col-6"></div>

                            </div>
                        </div>
                    </div>

                    <br/>
                    <br/>

                    <div class="row text-center">

                        <div class="col-2"></div>

                        <div class="col-4">
                            {{ register_form.date }}
                        </div>

                        <div class="col-4">
                            {{ register_form.time }}
                        </div>

                        <div class="col-2"></div>

                    </div>

                    <br/>
                    <br/>

                    <div class="row text-center">
                        <div class="col-md-4"></div>

                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success btns" id="sub-btn">ذخیره</button>
                            <a class="btn btn-outline-secondary btns" id="unactive-sub-btn">ذخیره</a>
                        </div>

                        <div class="col-md-4"></div>
                        <br/>

                    </div>

                </form>
            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

{% endblock %}




