{% extends 'base/layout.html' %}
{% load static %}

{% block page-title %}ثبت مدارک{% endblock %}

{% block header-link %}
    <link rel="stylesheet" href="{% static 'css/get-document.css' %}">
{% endblock %}

{% block mian %}

    <div class="row text-center">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <h1>ثبت مدارک</h1>

            <br/>

            <form method="post" action="{% url 'get-doc' %}">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-12">

                        {{ register_form.store_name }}

                        <br/>

{#                        <button id="myDropdownBtn" class="btn btn-primary" onclick="dropfunc()" style="width: 100%">جستجو نام فروشگاه</button>#}
{##}
                        <div id="myDropdown" class="dropdown-content">
                            <input class="shadow-sm" type="text" placeholder="جستجو" id="myInput" onkeyup="filterFunction()" style="display: block">
                            {% for course in courses %}
                                <a href="#" >{{ course.lesson }} - {{ course.teacher }}</a>
                            {% endfor %}
                        </div>


                    </div>

                </div>




                <br/>

                {{ register_form.order_number }}

                <br/>

                <div class="row">
                    <div class="col-4 text-right">
                        <h5>روش دریافت:</h5>
                    </div>
                    <div class="col-8 text-right">

                        {{ register_form.shipping_method }}

                    </div>
                </div>

                <br/>

                {{ register_form.description }}

                <br/>

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success">ذخیره</button>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">ذخیره و ایجاد دیگری</button>
                    </div>

                </div>

            </form>

        </div>

        <div class="col-md-3"></div>

    </div>

    <script>

        function dropfunc() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        let myDropdown = document.getElementById("myDropdown");
        let myDropdownBtn = document.getElementById("myDropdownBtn");
        document.addEventListener('click', function (e) {

            if (!myDropdown.contains(e.target) && !myDropdownBtn.contains(e.target)) {
                if (myDropdown.classList.contains('show')) {
                    e.preventDefault();
                    myDropdown.classList.remove('show');
                }
            }
        });

        function filterFunction() {
            var input, filter, ul, li, a, i;

            input = document.getElementById("myInput");

            filter = input.value.toUpperCase();

            div = document.getElementById("myDropdown");

            a = div.getElementsByTagName("a");

            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }
    </script>

{% endblock %}