{% extends 'base/layout.html' %}
{% load static %}

{% block page-title %}مشاهده مدارک{% endblock %}

{% block header-link %}
    <link rel="stylesheet" href="{% static 'css/Order/show-orders.css' %}"/>
{% endblock %}

{% block mian %}

    <div class="row">
        
        <div class="col-md-3 text-center action_box">
            <div style="background-color: red">
                filter
            </div>
        </div>

        <br/>
        <br/>

        <div class="col-md-9 text-center">
            <h1>مدارک ثبت شده</h1>

            <br/>

            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>نام فروشگاه</th>
                                    <th>شماره سفارش</th>
                                    <th>تاریخ</th>
                                    <th>ساعت</th>
                                    <th>روش ارسال</th>
                                    <th>نقص مدارک</th>
                                    <th>ویرایش</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ order.store.store_name }}</td>
                                        <td>{{ order.order_number }}</td>
                                        <td>{{ order.date }}</td>
                                        <td>{{ order.time }}</td>
                                        <td>{{ order.shipping_method }}</td>
                                        {% if order.document_defects %}
                                            <td>{{ order.document_defects }}</td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        <td>
                                            <a>
                                                <img class="icon" src="{% static 'Order/image/edit-icon.png' %}" />
                                            </a>
                                        </td>

                                        <td>
                                            <a href="{% url 'delete_order' order_id=order.id %}">
                                                <img class="icon" src="{% static 'Order/image/delete-icon.png' %}"/>
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
