{% extends 'base/layout.html' %}
{% load static %}
{% load jformat %}

{% block page-title %}مشاهده مدارک{% endblock %}

{% block header-link %}
    <link rel="stylesheet" href="{% static 'css/Order/show-orders.css' %}"/>

    <script src="{% static 'js/Order/add-order-script.js' %}"></script>

{% endblock %}

{% block mian %}

    <div class="row">

        <div class="col-md-3 text-center">

            {% if is_filter %}
                <div class="row">

                    <div class="col-12 action_box">
                        <form action="{% url 'export_to_excel' %}" method="post">
                            {% csrf_token %}

                            <div style="display: none;">
                                <input type="text" name="store_name" value="{{ store_name }}">
                                <input type="text" name="order_number" value="{{ order_number }}">
                                <input type="text" name="from_date" value="{{ from_date }}">
                                <input type="text" name="to_date" value="{{ to_date }}">
                                <input type="text" name="shipping_method" value="{{ shipping_method }}">
                                <input type="text" name="document_defects" value="{{ document_defects }}">
                            </div>

                            <button type="submit" class="btn btn-success" style="width: 100%">دانلود گزارش</button>
                        </form>
                    </div>

                </div>
            {% endif %}

            <br/>

            <div class="row">
                <div class="col-12 action_box">

                    <form method="post" action="{% url 'filter_orders' %}">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-10">
                                {{ register_form.store_name }}
                                <input type="text" placeholder="نام فروشگاه" class="form-control" readonly
                                       id="fake_store_id_input" required>
                            </div>

                            <div class="col-2">
                                <button type="button" onclick="remove_from_input()" id="remove-btn">
                                    <img id="remove-icon" src="{% static 'icon/icons8-delete-48.png' %}">
                                </button>
                            </div>

                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-12">

                                <button type="button" onclick="show_stores()" class="btn btn-primary" id="search-btn"
                                        style="width: 100%">
                                    جستجو نام فروشگاه
                                </button>

                                <div id="myDropdown" class="dropdown-content">
                                    <input type="text" placeholder="جستجو نام فروشگاه" id="myInput"
                                           onkeyup="filterFunction()">

                                    {% for store in stores %}
                                        <a onclick='add_to_input("{{ store.store_name }}", "{{ store.id }}")'
                                           {% if store.is_delete %}class="bg-secondary"{% endif %}>{{ store.store_name }}</a>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ FilterOrderForm.store_name }}
                            </div>
                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-12">
                                {{ FilterOrderForm.order_number }}
                            </div>
                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-6">
                                {{ FilterOrderForm.from_date }}
                            </div>

                            <div class="col-6">
                                {{ FilterOrderForm.to_date }}
                            </div>
                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-12">
                                {{ FilterOrderForm.shipping_method }}
                            </div>
                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-12">
                                {{ FilterOrderForm.document_defects }}
                            </div>
                        </div>

                        <br/>

                        <div class="row">

                            <div class="col-5">
                                <a class="btn btn-outline-secondary" href="{% url 'show-orders' %}" style="width: 100%">حذف
                                    فیلتر</a>
                            </div>

                            <div class="col-7">
                                <button class="btn btn-primary" type="submit" style="width: 100%">اعمال فیلتر</button>
                            </div>

                        </div>


                    </form>

                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-12 action_box">
                    <p style="margin: 0; color: black">تعداد سفارش‌های یافت شده : {{ orders_len }}</p>
                </div>
            </div>
        <small></small>

        </div>

        <br/>
        <br/>

        <div class="col-md-9 text-center">
            <h1>مدارک ثبت شده{% if is_filter %} (فیلتر شده) {% endif %}</h1>


            <br/>

            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th>نام فروشگاه</th>
                                <th>شماره سفارش</th>
                                <th>تاریخ</th>
                                <th>ساعت</th>
                                <th>روش ارسال</th>
                                <th>نقص مدارک</th>
                                <th>ویرایش</th>
                                <th>حذف</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.store.store_name }}</td>

                                    {% if order.order_number %}
                                        <td>{{ order.order_number }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}

                                    <td>
                                        {{ order.date|jformat:"%d / %m / %Y" }}
                                    </td>
                                    <td>{{ order.time }}</td>

                                    <td>{{ order.shipping_method }}</td>
                                    {% if order.document_defects %}
                                        <td>{{ order.document_defects }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url 'update_order' order_id=order.id %}">
                                            <img class="icon" src="{% static 'Order/image/edit-icon.png' %}"/>
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{% url 'delete_order' order_id=order.id %}">
                                            <img class="icon" src="{% static 'Order/image/delete-icon.png' %}"/>
                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            {% if not is_filter %}
                <div class="row ">

                    <div class="col-4"></div>

                    <div class="col-4">

                        <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                                {% if orders.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ orders.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% endif %}

                                <li class="page-item"><a class="page-link active" href="#">{{ orders.number }}</a></li>

                                {% if orders.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ orders.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>

                                {% endif %}


                            </ul>
                        </nav>

                    </div>

                    <div class="col-4"></div>

                </div>
            {% endif %}


        </div>

    </div>

{% endblock %}
