{% extends 'base/layout.html' %}

{% block mian %}

    <div class="row text-center">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <h2>ویرایش سفارش <span class="text-danger">{{ current_order.store.store_name }}</span></h2>

            <br/>

            <form method="post" action="#">
                {% csrf_token %}

                <br/>

                {{ edit_form.order_number }}

                <br/>

                {{ edit_form.shipping_method }}

                <br/>

                {{ edit_form.document_defects }}

                <br/>

                {{ edit_form.date }}

                <br/>

                <button type="submit" class="btn btn-success">ویرایش</button>

            </form>
        </div>

        <div class="col-md-2"></div>
    </div>

{% endblock %}