@font-face {
    src: url("../../font/Yekan.ttf");
    font-family: 'Yekan';
}

@font-face {
    src: url("../../font/Bkoodak.ttf");
    font-family: 'Bkoodak';
}

@font-face {
    src: url("../../font/IranianSans.ttf");
    font-family: 'IranianSans';
}

#header {
    background-color: #183348;
    border-radius: 0 0 10px 10px;
}

body {
    direction: rtl;
    font-family: 'Yekan';
    /*background-color: ;*/
    /*background-image: linear-gradient(to bottom right, #0396FF, #ABDCFF);*/
    /*height: 100vh;*/
}

#header {
    padding: 15px;
}

.navbar {
    background-color: #183348;
    border-radius: 0 0 10px 10px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-nav {
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-link {
    text-align: center;
}

form {
    background-color: #f8b739;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gainsboro;
    box-shadow: 2px 2px 2px rgba(175, 175, 175, 0.9);
}

/*icon {*/
/*    width: 50%;*/
/*}*/

footer {
    background-color: #183348;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 15px;
    font-size: 20px;
}

footer a {
    text-decoration: none;
}

.btn {
    width: 150px;
}

.action_box {
    background-color: rgba(247, 247, 247, 0.822);
    padding: 10px;
    border-radius: 10px;
    border:1px solid gainsboro ;
}